h1 {
    text-align: center;
}

.div1 {
    background-image: linear-gradient(to left bottom, red, green, blue);
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.div2 {
    background-image: linear-gradient(to right bottom, purple 75%, yellow);
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 2px solid black;
}

.p1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 2px solid black;
}

.div3 {
    background-image: radial-gradient(circle at center,pink, rgb(45, 72, 193));
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 2px solid black;
}

.div4 {
    background-image: repeating-radial-gradient(black, white 10px);
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 2px solid black;
}

.div4:hover {
    background-image: repeating-radial-gradient(white, black 10px);
}